APP_NAME=ScootZone
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://scootzone-app.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=dpg-d8dbmhcm0tmc73dp5bvg-a.oregon-postgres.render.com
DB_PORT=5432
DB_DATABASE=yacinmoto_db
DB_USERNAME=yacinmoto_db_user
DB_PASSWORD=kXKQFCRHQ6CfDn2u5OJHZyPtmWDrwKkZ

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=public

ADMIN_PASSWORD=admin123

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@scootzone.dz"
MAIL_FROM_NAME="${APP_NAME}"
